.container-fluid{
    position: relative;
    display: inline-block;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
}

.texto{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "brittanic bold";
    color: white;
}

.h1, h1{
    font-size: 1.5cm;
}

.form-inline{
    padding-left: 3%;
}

.form-control{
    length: 5cm;
}

.form-row{
    padding-left: 5%;
    padding-right: 5%;
}
